# Root directory, reviewed by all team members
/* @immjunjie @obudon @SbZiggy123 @ScootBot @makapaka122333

# Frontend code, reviewed by A, B, C
/frontend/* @immjunjie @obudon @SbZiggy123 @ScootBot @makapaka122333

# Backend code, reviewed by A, B, D
/backend/* @immjunjie @obudon @SbZiggy123 @ScootBot @makapaka122333

/simulator/* @immjunjie @obudon @SbZiggy123 @ScootBot @makapaka122333