/.idea/
/.venv/
/backend/extractor/merged/extract_info.hdf5
/3d_print_template
/extract_info.hdf5
/print_details.hdf5
/jumpOnLayerChange.hdf5
venv
/backend/UI/__pycache__
/backend/UI/__pycache__/
backend/UI/__pycache__
backend/UI/__pycache__/logger.cpython-311.pyc
/logger.cpython-311.pyc
backend/UI/__pycache__
backend/UI/__pycache__/logger.cpython-311.pyc
/backend/UI/__pycache__/logger.cpython-311.pyc
/backend/UI/__pycache__
/uploads/